<div id="MainContent" class="VerticalDotLine"><!-- *** Start: MainContent ***-->
	<div class="ContentBox">
		<div class="LargeBoxTop"></div>
		<div class="LargeBoxBg">
			<div class="title">Post a Video</div>
			<%= render_partial 'new', nil, '@story' => @story %>
		</div>
		<div class="LargeBoxBottom"></div>
	</div>

	<div class="clear" id="RightContainerSpaceTop"></div>
	<div class="ContentBox">
	</div>
</div>